@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

body {
  background-color: #f5f5dc;
  color: #222;
  font-family: "Bebas Neue", cursive;
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.d-none {
  display: none !important;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
}

button {
  background-color: transparent;
  color: #222;
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text {
  width: auto;
  background-color: #222;
  color: #fff;
  border: 2px solid #222;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.with-text:hover {
  background-color: #fff;
  color: #222;
}

button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}

label {
  display: block;
}

/* Slider */

.slider {
  height: 40px;
  border: 2px solid var(--red);
  border-radius: 20px;
}

.thumb {
  background-color: var(--red);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.slider.green {
  border: 2px solid var(--green);
}

.slider.green .thumb {
  background-color: var(--green);
}

/* Accordion */
